/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  width: 32%;
}

.col-2  {
  width: 66%;
}

.col-3  {
  width: 99.9%;
}

[class*="col-"] {
  float: left;
  margin-left: 2%;
}

.first  {
  margin-left: 0%;
  clear: left;
}

.row  {
  clear: both;
}

#dates{
  height: 652.633px;
}